@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Copperplate';
    src: local('Copperplate'), local('Copperplate Gothic Bold'), local('Copperplate Gothic Light');
}

.text-copperplate {
    font-family: 'Copperplate', serif;
    font-weight: bold;
}

body {
  font-family: 'Inter', sans-serif;
}

.custom-background {
    background: linear-gradient(to bottom, #F5E565, #0083AE, #0083AE, #000000);
    border-radius: 10px; /* Adjust the radius as needed */
    padding: 6px; /* Adjust the padding as needed */
}